body {
	font-family: Arial;
	margin:0px;
	background-color:#E8E8E8;
	background:black;
}
.context {
	margin: 0px auto;
}

.container {
	width:1200px;
	margin:0px auto;
}

form {
	margin-bottom: 0px;
}

.head {
	background-color:white;
}

.head h1 {
	margin:auto 5px;
	font-size: 42px;
	padding: 21px;
	padding-left: 0px;
}

.head .head-box {
	height: 100px;
	height: 100px;
}

.top-menu{
	background-color:#2A8FBD;
	height:50px;
}

.top-menu ul{
	list-style: none;
	margin:0px;
	padding: 0px;
}

.top-menu ul li {
	display: inline-block;
	list-style: none;
	-margin-right: -5px;
	position:relative;
}

.top-menu ul li.active a{
	background-color:black;
}

.top-menu ul li a {
	line-height: 50px;
	height: 50px;
	padding: 0px 15px;
	text-decoration:none;
	display: block;
	color:white;
}

.top-menu ul li a:hover {
	background-color:#525252;
	padding-bottom:10px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}

.page .left {
	float:left;
	width:300px;
}

.page .left .menu {
	background-color: #FFF;
	border: 1px solid #D3D3D3;
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.16);
}

.page .left .menu li span.body {
	padding: 10px;
	padding-left: 14px;
	display: block;
	border-bottom: 1px solid #E4E1E1;
}

.page .left .menu li span.body  form.loginbox {
	margin-top:5px;
}

.page .left .menu li span.body a.selected {
	border: 0px;
	background-color: #2A8FBD;
	border-bottom: 1px solid #09597E;
	color: #FFF;
}

.loginbutton {
	float:right;
}
.registerlink {
    margin: 0px;
    display: inline-block;
    padding: 3px;
    padding-bottom: 4px;
    margin-right: 5px;
    float: right;
}
.newpasslink {
	margin: 0px;
    display: inline-block;
    padding: 3px;
    padding-bottom: 4px;
    margin-right: 5px;
    float: right;
}

.page .left .menu li a.href {
	line-height: 35px;
	height: 35px;
	padding: 0px 15px;
	text-decoration: none;
	display: block;
	color: #000;
	border-bottom: 1px solid #E4E1E1;
}

.page .left .menu li.selected a.href {
	background-color: #2A8FBD;
	color:white;
}
.page .left .menu li.selected a.href:hover {
	background-color: #2A8FBD;
	padding-left:15px;
}

.page .left .menu li a.href:hover {
	background-color:#D8D8D8;
	padding-left:20px;
}

.page .right {
	float:right;
	width:870px;
	min-height: 300px;
}

.page .right .textcont {
	-margin-bottom:20px;
}

.footer {
	border-top: 5px solid #2A8FBD;
	background-color: #424242;
	color: #FFF;
	padding-bottom: 2px;
}

.footer .menu {
	margin: 0px;
	padding: 0px;
	-border-right:1px solid #595959;
	width:300px;
	list-style: none;
	margin-top: 10px;
	margin-right: 10px;	
	float:left;
}

.footer .menu li a.href {
	line-height: 35px;
	height: 35px;
	padding: 0px 15px;
	text-decoration: none;
	display: block;
	color: white;
	border:1px solid transparent;
}

.footer .menu li a.href:hover {
	background-color:#4D4D4D;
	padding-left:20px;
}

.footer .menu li.selected a.href {
	border:1px solid #4D4D4D;
}

.subfooter {
	background-color:black;
	color:#C2C2C2;
	padding:12px;
	font-size:13px;
}
.subfooter a { color:white; }

a {
	text-decoration:none;
	color:#2A8FBD;
}

.menu a {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	transition: .3s;
	text-decoration:none;
	color:#2A8FBD;
}

.menu a:hover {
	border-bottom:1px solid #2A8FBD;
}

/*
input[type="text"], input[type="password"] {
	padding: 5px;
	border-radius: 2px;
	border: 1px solid #C0C0C0;
}
*/
.snowLeopard {
	border-color:#3F3F3F;
}
.snowLeopard th {
	background-color:#3F3F3F;
	color:white;
	padding:5px;
}
.snowLeopard td {
	background-color:#B1B1B1;
	color:black;
	padding:5px;
}

input[type="text"], input[type="password"], input[type="email"] , textarea{
	padding: 4px;
	border: 1px solid #CACACA;
	background-color: #FCFCFC;
	outline-color: #74ACFF;
	margin: 0px;
	border-radius: 1px;
	-box-shadow: 1px 1px 4px rgba(221, 221, 221, 0.7) inset;
}

input.error {
	  border-color: #FF5E5E;
	  -background: url(./images/no.png);
	  background-size: 22px 100%;
      background-repeat: no-repeat;
      background-position-x: 0px;
}

input[type="text"]:disabled, input[type="password"]:disabled, input[type="email"]:disabled , textarea:disabled {
	  background-color: #E0E0E0;
	  box-shadow: 0px 0px 0px;
}
button.disabled, a.button.disabled, .ContextMenu.disabled, input[type="submit"].disabled{
	background: #B6B2B2;
	border: 1px solid #D5D5D5;
	color:black;
}
button.disabled:hover, a.button.disabled:hover, .ContextMenu.disabled:hover, input[type="submit"].disabled:hover{
	background: #B6B2B2;
	border: 1px solid #D5D5D5;
}
a.button.addEvent {
	background-image: url(../images/user_2_add.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position: 5px;
}

button, a.button, .ContextMenu, input[type="submit"] {
	border: 1px solid #C0C0C0;
	background-color: #F5F5F5;
	-border-radius: 2px;
	padding: 5px 12px;
	cursor:pointer;
	outline-color:#74ACFF;
	text-decoration: none;
	color:black;
	font-weight:bold;
	font-size: 12px;
}
button:active, a.button:active, .ContextMenu:active, input[type="submit"]:active, .button.clicked{
	box-shadow: 1px 1px 4px #C0C0C0 inset;
}
button:hover, a.button:hover, .ContextMenu:hover{
	background-color: #F5F5F5;
	color:black;
}
button a:focus, a.button:focus, .ContextMenu a:focus, a.ContextMenu:focus, input[type="submit"] a:focus{
	color:black;
}

span.error {
  background-color: #FF9696;
  padding: 2px;
  border-bottom: 1px solid #F00;
  margin-left: 3px;
}

.buttonline a {
	margin-left:0px;
	margin-right:-5px;
	border-radius:0px;
	border-right-width:0px;
}
.buttonline a:first-child{
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
}
.buttonline a:last-child{
	border-right-width:1px;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
}

.ContextMenu.selected {
	background-color: #012E7E;
	color: #FFF;
	border-color: #475D91 #3C5389 #3A5186;
}
.ContextMenu.selected:active{
	box-shadow: 1px 1px 4px #2E2E2E inset;
}
.ContextMenu.selected:focus{
	color:white;
}

.listBox.ToolTipMax {
	overflow:inherit;
	position:relative;
	background-color:white;
	color: black;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.8);
	border: 1px solid #777;
	border-radius: 3px;
	width:270px;
}

.listDiv {float:left;width:400px;height:0px;display:none;position:absolute;top:0px;z-index:500;}
.listBox {
  background-color: #FFF;
  -border: 1px solid #A3A3A3;
  padding: 5px 0px;
  min-width: 120px;
  box-shadow: 0px 2px 11px #626262;
  display: inline-block;
  max-height: 200px;
  border-radius: 0px;
  overflow: auto;
}
.listBox ul{
	list-style-type:none;
	margin: 0px;
    padding: 0px;
}
 
.listBox ul li:hover{
	background-color: #4E69A2;
	box-shadow: 0px 0px 1px #435A8B;
	color: white;
}
.listBox ul li a {
	display:block;
	padding: 8px 8px;
	text-decoration: none;
	background-color:transparent;
	font-size:12px;
	white-space: nowrap;
}
.listbox ul li a img.des { 
  float: left;
  position: relative;
  bottom: 2px;
  padding-right: 7px;
}
.listBox ul li{ font-size:12px;cursor:pointer; } 
.listBox ul li:hover{
	background-color:#2459B8;
	color:white;
}

 li.sel.selx {background-color: #2459B8;color: #FFF;background-repeat: no-repeat;background-position: 6px 9px;background-image:url(images/check_white.png);}
 li.selx {background-color: #2459B8;color: #FFF;}
 li.selx a {
  color: #FFF;
}

.listBox ul li.text { background-color: rgba(0, 0, 0, 0);color: #646464;padding: 4px 9px;padding-top: 1px; }
.listBox ul li.cara {border-bottom:1px solid #D5D5D5;height:0px;margin:5px 3px;}

 li a {color:black}
 li.disabled {background-color: #D7D4D4;}
 li.sel {background-image:url(images/check.png);background-repeat: no-repeat;padding-left: 11px;background-position: 6px 9px;background-size: 12px;font-weight:bold;}
 li.sel:hover {background-image:url(images/check_white.png);}
 li.nos {padding-left:11px;}

.ContextMenuHi {
	background:transparent;
	border:1px solid transparent;
}

.ContextMenu input {
	background-color:transparent;
	border:0px;
	outline:0;
}
.ContextMenu.selected input {
	color: #FFF;
}

.ContextMenu.input.accepted {
	border: 1px solid #8B8B8B;
	background: blue;
}
.ContextMenu.input {
	border: 1px solid #8B8B8B;
	background: #FFF;
	padding: 4px 6px;
	cursor:text;	
}
.ContextMenu.withimage{
	background-repeat: no-repeat;	
	background-size: 20px 20px;
	background-position: 2px 2px;
}
.ContextMenu.withimage input {
	margin-left:20px;
}
.ContextMenu.input:active {
	background: #E2E2E2;
	box-shadow: 0px 0px 0px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 2px 2px;
}

.ContextMenu .textin {
	width: 92%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: -4px;
	white-space: nowrap;
}

.ContextMenu.input.selected input { color:black; }

.uprow_pan {width: 400px;position: relative;height: 11px;}
.uprow {background-image:url(images/up.png);width:20px;height:11px;right: 2px;top:1px;position: absolute;}

.box  {
	border: 1px solid #817F7F;
	padding: 10px;
	background-color: rgb(189, 189, 189);
	color: black;
	border-radius: 2px;
	box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.16);
}

.box.ok {
	padding: 10px;
    border-radius: 2px;
    border-bottom: 3px solid #22DC00;
    background-color: rgba(0, 128, 0, 0.1);
    background: #055F05;
    color: white;
}

.menu .box {
	padding: 6px;
    font-size: 14px;
    margin: 4px 0px;
}

.box ul {
	margin: 0px;
	margin-top: 7px;
	margin-left: -14px;
}

.box.error{
	border-color:red;
	color: rgb(170, 38, 38);
	background-color:rgb(241, 208, 208);
}

a.left_separator {
	border-left: 1px solid #BABABA;
	padding-left: 5px;
	margin-left: 4px;
}

.menu #username {
	padding:5px 0px;
}

.logo {
	background-image: url(./images/furrbook.png);
	width: 110px;
	position: relative;
	background-repeat: no-repeat;
	background-position: 0px 6px;
}

.menu .avatar {
	float: left;
	width: 40px;
	height: 40px;
	margin-top: 4px;
	margin-right: 10px;
}

.bublina {
  background-color: #C0C0C0;
  width: 0px;
  display: inline-block;
  overflow: hidden;
  padding-left: 25px;
  border-radius: 15px;
  position: relative;
  top: 2px;
  left:0px;
  margin-left: 5px;
  background-position: 0px 0px;
  background-size: 25px;
  background-repeat: no-repeat;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -o-transition: .8s;
  -ms-transition: .8s;
  transition: .8s;
  font-size: 15px;
  padding-top: 3px;
  height: 20px;
  color:black;
}

.bublina:hover {
	background-color:#D0D0D0;
	padding-left:28px;
	width: auto;
	height:20px;
	background-size: 30px;
	border-radius: 15px;
	-top:3px;
	-left:-1px;
	padding-right: 11px;
	 background-position: 0px -4px;
}

.pen {
	background-image: url(./images/pencil_small.png);
	background-size: 35px;
	background-position: -6px -6px;
}

.trash {
	background-image: url(./images/trash.png);
	background-size: 20px;
	background-position: 2px 3px;
}


@-webkit-keyframes rotateSpinner {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}

.loading {
  -webkit-animation: rotateSpinner 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  background-image: url(./images/t-wz8gw1xG1.png);
  width: 30px;
  height: 30px;
  margin: 30px 135px;
  background-size: 30px;
}

.red {
	color:red;
}

.dialog-background {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.dialog {
  margin: 0px auto;
  background: #F9F9F9;
  margin-top: 40px;
  border: 1px solid #BBB;
  box-shadow: 0px 2px 10px #8C8C8C;
}

.dialog-title {
  background-color: #EFEFEF;
  border-bottom: 1px solid #CFCFCF;
  padding: 9px 13px;
  font-weight: bold;
  font-size: 14px;
}

.dialog-footer {
  border-top: 1px solid rgb(218, 218, 218); 
  margin: 0px 10px 0px; 
  padding: 10px 0px;
  height: 25px;
}

h2 {
    padding: 0px;
    padding-bottom: 10px;
    margin: 0px 0px;
    margin-bottom: 15px;
    border-bottom: 1px solid silver;
}

.dialog-footer-button {
  float:right;
}

.dialog-footer-button button {
  padding: 4px 8px;
  margin-left:5px;
}

.dialog-footer-button .blue {
  color: #FFF;
  background: #5B74A8;
  border: 1px solid #394B6F;
}  

.dialog-footer-button .blue:active {
    box-shadow: 2px 2px 4px rgba(87, 87, 87, 0.87) inset;
}  

.dialog-footer-button a.button {
  padding: 4px 8px;
  margin-left: 5px;
}

.dialog-title .close {
  width: 20px;
  height: 20px;
  float: right;
  background-image: url(./images/gtk_close.png);
  background-repeat: no-repeat;
  background-size: 20px;
  position: relative;
  top: -2px;
  right: -5px;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}
.dialog-title .close:hover {
	opacity:0.5;
}

.dialog-content .red {
	padding:10px;
	font-size:13px;
}

.dialog-content .cnt {
	padding:10px;
	font-size:12px;
}

.tabfor {
	width:100%;
	border:0px;
}

.tabfor .label {
	text-align:right;
	width:120px;
}

.tabfor label {
	font-weight:bold;
	cursor:pointer;
	color:#666;
	font-size:12px;
	padding-right: 10px;
}

.tabfor input {
	width:100%;
}

.user-background-tile {
	border: 1px solid silver;
	height: 200px;
	background-color: black;
}

.user-background-panel {
	border: 1px solid silver;
	border-top:0px;
	background:white;
}

.namedti {
	color: silver;
	text-transform: uppercase;
	font-weight: bold;
	padding-right:10px;
}

.tile {
	padding: 12px;
	display: inline-block;
	border-right: 1px solid #E8E5E5;
}

.description {
	font-size:12px;
	color:silver;
}

.description.black {
	color:black;
}

hr {
	border: 0px;
	border-top: 1px solid #C8C8C8;
}

.admin ul.topmenu li {
	display: inline-block;
	padding: 10px;
	cursor:pointer;
	padding-bottom: 11px;
    padding-top: 14px;
}

.admin ul.topmenu li:hover {
	background-color:silver;
}

.admin ul.topmenu li.select a {
    color: white;
    font-weight: bold;
}

.admin ul.topmenu li a {
    color: #D4D4D4;
    font-weight: bold;
}

.admin ul.topmenu li.select {
	margin: 0px 0px;
    position: relative;
    display: inline;
    border-bottom: 3px solid #FFF600;
	padding-bottom: 9px;
}

.admin ul.topmenu.sub li:hover {
	background: #B8C0D5;
}

.admin ul.topmenu.sub li.select {
	-background: #C1C8DA;
}

.admin ul.topmenu {
	padding: 0px;
    margin: 0px;
    background: #2997CA;
    color: white;
}

.admin ul.topmenu.sub {
	background: #32A2D6;
	border-top: 0px;
	margin-bottom: 19px;
}

.tablik {
	width: 100%;
	margin: 25px 0px;
	table-layout: fixed; 
	border-collapse: collapse;
}

.tablik tr {
	border-bottom: 1px solid #ABAAAA;
}

.tablik tr th {
	padding: 10px;
	background-color: #D2D2D2;
	text-align:left;
}

.tablik tr td {
	padding: 10px;
	background-color: #E5E5E5;
}

.tablik tr:hover td {
	background-color: #E0DDDD;
}

.error_line {
  background-repeat: no-repeat;
  padding: 8px 5px;
  padding-left: 35px;
  background-position: 9px 8px;
  border-top: 1px solid #B00000;
  border-bottom: 1px solid #B00000;
  margin: 12px 0px;
}

.threedotmenu {
  display: inline;
  padding-right: 20px;
  width: 10px;
  background-image: url(./images/xWJCVikUzs0.png);
  background-repeat: no-repeat;
  background-position: 8px 5px;
}
.selected.threedotmenu {
  background-position: 8px -11px;
}

.denbac {
	background-image: url(./background-stripes.png)
}