body {
	font-family: Arial;
	margin:0px;
	background-color:#E8E8E8;
}
.context {
	margin: 0px auto;
}

.container {
	width:1200px;
	margin:0px auto;
}

form {
	margin-bottom: 0px;
}

.head {
	background-color:white;
}

.head h1 {
	margin:auto 5px;
	font-size: 42px;
	padding: 21px;
	padding-left: 0px;
}

.head .head-box {
	height: 100px;
	height: 100px;
}

.top-menu{
	background-color:#2A8FBD;
	height:50px;
}

.top-menu ul{
	list-style: none;
	margin:0px;
	padding: 0px;
}

.top-menu ul li {
	display: inline-block;
	list-style: none;
	-margin-right: -5px;
	position:relative;
}

.top-menu ul li.active a{
	background-color:black;
}

.top-menu ul li a {
	line-height: 50px;
	height: 50px;
	padding: 0px 15px;
	text-decoration:none;
	display: block;
	color:white;
}

.top-menu ul li a:hover {
	background-color:#525252;
	padding-bottom:10px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}

.page .left {
	float:left;
	width:300px;
}

.page .left .menu {
	background-color: #FFF;
	border: 1px solid #D3D3D3;
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.16);
}

.page .left .menu li span.body {
	padding: 10px;
	padding-left: 14px;
	display: block;
	border-bottom: 1px solid #E4E1E1;
}

.page .left .menu li span.body  form.loginbox {
	margin-top:5px;
}

.page .left .menu li span.body a.selected {
	border: 0px;
	background-color: #2A8FBD;
	border-bottom: 1px solid #09597E;
	color: #FFF;
}

.loginbutton {
	float:right;
}
.registerlink {
    margin: 0px;
    display: inline-block;
    padding: 3px;
    padding-bottom: 4px;
    margin-right: 5px;
    float: right;
}
.newpasslink {
	margin: 0px;
    display: inline-block;
    padding: 3px;
    padding-bottom: 4px;
    margin-right: 5px;
    float: right;
}

.page .left .menu li a.href {
	line-height: 35px;
	height: 35px;
	padding: 0px 15px;
	text-decoration: none;
	display: block;
	color: #000;
	border-bottom: 1px solid #E4E1E1;
}

.page .left .menu li.selected a.href {
	background-color: #2A8FBD;
	color:white;
}
.page .left .menu li.selected a.href:hover {
	background-color: #2A8FBD;
	padding-left:15px;
}

.page .left .menu li a.href:hover {
	background-color:#D8D8D8;
	padding-left:20px;
}

.page .right {
	float:right;
	width:870px;
}

.page .right .textcont {
	margin-top:20px;
	margin-bottom:20px;
}

.footer {
	border-top: 5px solid #2A8FBD;
	background-color: #424242;
	color: #FFF;
	padding-bottom: 2px;
}

.footer .menu {
	margin: 0px;
	padding: 0px;
	-border-right:1px solid #595959;
	width:300px;
	list-style: none;
	margin-top: 10px;
	margin-right: 10px;	
	float:left;
}

.footer .menu li a.href {
	line-height: 35px;
	height: 35px;
	padding: 0px 15px;
	text-decoration: none;
	display: block;
	color: white;
	border:1px solid transparent;
}

.footer .menu li a.href:hover {
	background-color:#4D4D4D;
	padding-left:20px;
}

.footer .menu li.selected a.href {
	border:1px solid #4D4D4D;
}

.subfooter {
	background-color:black;
	color:#C2C2C2;
	padding:12px;
	font-size:13px;
}
.subfooter a { color:white; }

a {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	transition: .3s;
	text-decoration:none;
	color:#2A8FBD;
	text-decoration:none;
}

a:hover {
	border-bottom:1px solid #2A8FBD;
}

/*
input[type="text"], input[type="password"] {
	padding: 5px;
	border-radius: 2px;
	border: 1px solid #C0C0C0;
}
*/
.snowLeopard {
	border-color:#3F3F3F;
}
.snowLeopard th {
	background-color:#3F3F3F;
	color:white;
	padding:5px;
}
.snowLeopard td {
	background-color:#B1B1B1;
	color:black;
	padding:5px;
}

input[type="text"], input[type="password"], input[type="email"] , textarea{
	padding: 4px;
	border: 1px solid #CACACA;
	background-color: #FCFCFC;
	outline-color: #74ACFF;
	margin: 0px;
	border-radius: 1px;
	box-shadow: 1px 1px 4px rgba(221, 221, 221, 0.7) inset;
}
input[type="text"]:disabled, input[type="password"]:disabled, input[type="email"]:disabled , textarea:disabled {
	  background-color: #E0E0E0;
	  box-shadow: 0px 0px 0px;
}
button.disabled, a.button.disabled, .ContextMenu.disabled, input[type="submit"].disabled{
	background: #B6B2B2;
	border: 1px solid #D5D5D5;
	color:black;
}
button.disabled:hover, a.button.disabled:hover, .ContextMenu.disabled:hover, input[type="submit"].disabled:hover{
	background: #B6B2B2;
	border: 1px solid #D5D5D5;
}
a.button.addEvent {
	background-image: url(../images/user_2_add.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position: 5px;
}

button, a.button, .ContextMenu, input[type="submit"] {
	border: 1px solid #C0C0C0;
	background-color: #F5F5F5;
	-border-radius: 2px;
	padding: 5px 12px;
	cursor:pointer;
	outline-color:#74ACFF;
	text-decoration: none;
	color:black;
	font-weight:bold;
	font-size: 12px;
}
button:active, a.button:active, .ContextMenu:active, input[type="submit"]:active, .button.clicked{
	box-shadow: 1px 1px 4px #C0C0C0 inset;
}
button:hover, a.button:hover, .ContextMenu:hover{
	background-color: #F5F5F5;
	color:black;
}
button a:focus, a.button:focus, .ContextMenu a:focus, a.ContextMenu:focus, input[type="submit"] a:focus{
	color:black;
}

.buttonline a {
	margin-left:0px;
	margin-right:-5px;
	border-radius:0px;
	border-right-width:0px;
}
.buttonline a:first-child{
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
}
.buttonline a:last-child{
	border-right-width:1px;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
}

.ContextMenu.selected {
	background-color: #012E7E;
	color: #FFF;
	border-color: #475D91 #3C5389 #3A5186;
}
.ContextMenu.selected:active{
	box-shadow: 1px 1px 4px #2E2E2E inset;
}
.ContextMenu.selected:focus{
	color:white;
}

.listBox.ToolTipMax {
	overflow:inherit;
	position:relative;
	background-color:white;
	color: black;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.8);
	border: 1px solid #777;
	border-radius: 3px;
	width:270px;
}

.listDiv {float:left;width:400px;height:0px;display:none;position:absolute;top:0px;z-index:500;}
.listBox {
	background-color: #FFF;
	border: 1px solid #3A5186;	
	padding: 5px 0px;
	min-width: 120px;
	box-shadow: 1px 1px 9px #464646;
	display: inline-block;
	max-height: 200px;
	overflow: auto;
	-border-radius: 3px;
}
.listBox ul{
	list-style-type:none;
	margin: 0px;
    padding: 0px;
}
.listBox ul li{ color:black;font-size:12px;cursor:pointer; } 
.listBox ul li.cara {border-bottom:1px solid #D5D5D5;height:0px;margin:5px 3px;}

li.disabled {background-color: #D7D4D4;}
 li.sel {background-image:url(images/check.png);background-repeat: no-repeat;padding-left: 11px;background-position: 6px 9px;background-size: 12px;font-weight:bold;}
 li.sel:hover {background-image:url(images/check_white.png);}
 li.nos {padding-left:11px;}
 li.selx {background: #1BA6E9;color: #FFF;}
 li.selx a {color:white;}
 
.listBox ul li:hover{
	background-color:#2459B8;
	color:white;
}
.listBox ul li a {
	display:block;
	padding: 4px 14px;
	text-decoration: none;
	color: #000;
	background-color:transparent;
	font-size:12px;
	white-space: nowrap;
}
.listBox ul li a:hover {color:white;}

.ContextMenuHi {
	background:transparent;
	border:1px solid transparent;
}

.ContextMenu input {
	background-color:transparent;
	border:0px;
	outline:0;
}
.ContextMenu.selected input {
	color: #FFF;
}

.ContextMenu.input.accepted {
	border: 1px solid #8B8B8B;
	background: blue;
}
.ContextMenu.input {
	border: 1px solid #8B8B8B;
	background: #FFF;
	padding: 4px 6px;
	cursor:text;	
}
.ContextMenu.withimage{
	background-repeat: no-repeat;	
	background-size: 20px 20px;
	background-position: 2px 2px;
}
.ContextMenu.withimage input {
	margin-left:20px;
}
.ContextMenu.input:active {
	background: #E2E2E2;
	box-shadow: 0px 0px 0px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 2px 2px;
}

.ContextMenu .textin {
	width: 92%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: -5px;
	white-space: nowrap;
}

.ContextMenu.input.selected input { color:black; }

.box  {
	border: 1px solid #817F7F;
	padding: 10px;
	background-color: rgb(189, 189, 189);
	color: black;
	border-radius: 2px;
	box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.16);
}

.menu .box {
	padding: 6px;
    font-size: 14px;
    margin: 4px 0px;
}

.box ul {
	margin: 0px;
	margin-top: 7px;
	margin-left: -14px;
}

.box.error{
	border-color:red;
	color: rgb(170, 38, 38);
	background-color:rgb(241, 208, 208);
}

a.left_separator {
	border-left: 1px solid #BABABA;
	padding-left: 5px;
	margin-left: 4px;
}

.menu #username {
	padding:5px 0px;
}